body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}
header {
    background-color: #58181f; /*Rouge bordeaux foncé */
    color: #000000;
    padding: 1rem;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
}
main {
    padding: 2rem;
}
@media (max-width: 768px) {
    header, main {
        
    }
}